
body {

background-color: #212E33

}

#fof{display:block; width:100%; margin:130px 0; line-height:1.6em; text-align:center; color:white;}
#fof .hgroup{text-transform:uppercase;}
#fof .hgroup h1{margin-bottom:50px; font-size:20px;}
#fof .hgroup h1 span{display:inline-block; margin-left:5px; padding:8px; border:1px solid #FCFCFC; overflow:hidden;}
#fof .hgroup h1 span strong{display:inline-block; padding:0 20px 20px; border:1px solid #FCFCFC; font-weight:normal;}
#fof .hgroup h4{font-size:10px;}
#fof .hgroup h4 span{display:block; font-size:18px;}
#fof p{margin:30px 0 0 0; padding:0; font-size:20px;}
#fof p:first-child{margin-top:0;}

#fof .smalltext{
font-size:14px; padding:10px;
}
     
.lock {
	vertical-align:middle; 
	margin:4px 6px;
}


 /* unvisited link */
a:link {
    color: gray;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

